{% extends "base.html" %}

{% block title %}Reset hasła{% endblock %}

{% block content %}
  <h1>Reset hasła</h1>
  {% if validlink %}
    <p>Wprowadź nowe hasło dwukrotnie:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Zmień hasło" /></p>
    </form>
  {% else %}
    <p>Link resetowania hasła był nieprawidłowy, prawdopodobnie został wykorzystany wcześniej. 
	  Poproś o nowy link resetowania hasła.</p>
  {% endif %}
{% endblock %}
